
input,select,textarea{
	display: block;
	float: left;
	outline: none;
	border: none;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	margin:5px 0 5px 0;
	font-family: 'abel',arial,serif;
	font-size: 18px;
}
input[type=submit]{
	float: right;
	width: 20%;
	border-radius: 4px;
	cursor: pointer;
	box-shadow:inset 0 -4px 0 #e9e9e9;
}
input[type=submit]:active{
	background-color: #e9e9e9;
}